In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/imports-85.data",header = None) #read_csv function can used to read all types of flat file(text file)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
column_list = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style',
               'drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type',
               'num-of-cylinders','engine-size','fuel-system','bore',
               'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [6]:
len(column_list)

26

In [7]:
data.columns = column_list

In [8]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [9]:
#Basic data checking
data.shape

(205, 26)

In [10]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [11]:
data.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [12]:
#for loop to handle missing value of object columns together
obcols=(data.dtypes[data.dtypes=='object']).index
obcols

Index(['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type',
       'num-of-cylinders', 'fuel-system', 'bore', 'stroke', 'horsepower',
       'peak-rpm', 'price'],
      dtype='object')

In [13]:
import numpy as np
for x in obcols:
    print(x)
    column_mode = np.nan  #? is replaced with numpy nan
    data[x][data[x] == '?'] = column_mode

normalized-losses
make
fuel-type
aspiration
num-of-doors
body-style
drive-wheels
engine-location
engine-type
num-of-cylinders
fuel-system
bore
stroke
horsepower
peak-rpm
price

C:\Users\Christy\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
data.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [15]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [16]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [17]:
#convert the actual numerical values from object to float64 using astype

In [18]:
data['price'] = data['price'].astype('float64')

In [19]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [20]:
data['num-of-doors']  = data['num-of-doors'].map({'two':2,'four':4})

In [21]:
try: #try command will try to execute the statement
    data['make'] = data['make'].astype("float64")
    print("conversion success")
except: #if try is failed except will execute
    print("column make is not convertible")

column make is not convertible

In [22]:
for x in obcols:
    try:
        data[x] = data[x].astype('float64')
        print("succesfully converted column",x)
    except:
        print("Unable to convert column",x)

succesfully converted column normalized-losses
Unable to convert column make
Unable to convert column fuel-type
Unable to convert column aspiration
succesfully converted column num-of-doors
Unable to convert column body-style
Unable to convert column drive-wheels
Unable to convert column engine-location
Unable to convert column engine-type
Unable to convert column num-of-cylinders
Unable to convert column fuel-system
succesfully converted column bore
succesfully converted column stroke
succesfully converted column horsepower
succesfully converted column peak-rpm
succesfully converted column price

In [23]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,2.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,4.0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,4.0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [24]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors         float64
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [25]:
data.shape

(205, 26)

#### Our data is ready for EDA

In [26]:
#which make gives most mpg - city within the price range 16000-22000

#Steps
#1 - filter the data for price 16000 - 22000
#2 - group by make
#3 - calculate the average of city-mpg for each group


data_filterd = data[(data['price']>=16000) & (data['price']<=22000)]
city_mpg = data_filterd.groupby('make').mean()['city-mpg']
city_mpg = city_mpg.sort_values(ascending = False)
city_mpg

make
mazda          25.000000
peugot         22.833333
toyota         22.000000
bmw            22.000000
alfa-romero    20.000000
volvo          19.666667
saab           19.000000
mercury        19.000000
audi           18.666667
nissan         18.333333
Name: city-mpg, dtype: float64

In [27]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors         float64
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [28]:
#which fuel type is used most?
#Which model is used most?
#cars with which body type is most priced?
#Which make gives most power for price range 16000-22000
#list no of vehicles whose horse power greater than 200?
#which fuel system gives most mpg in city
#which are the engine types in a particular engine location
#which make has highest  avg horsepower to cub weight ratio
#different types drive wheels with impact price

In [29]:
#which fuel type is used most?
data['fuel-type'].value_counts().sort_values(ascending = False)

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [30]:
#which fuel type is used most?
#method2
data['fuel-type'].mode()[0]

'gas'

In [31]:
#Which model is used most?  #by default, the order will be highest to lowest.
data['make'].value_counts().head(5)

toyota        32
nissan        18
mazda         17
mitsubishi    13
honda         13
Name: make, dtype: int64

In [32]:
#cars with which body type is most priced?
data.groupby('body-style').mean()['price'].sort_values(ascending=False)

body-style
hardtop        22208.500000
convertible    21890.500000
sedan          14459.755319
wagon          12371.960000
hatchback       9957.441176
Name: price, dtype: float64

In [33]:
#Which make gives most power for price range 20000-25000

data_filterd = data[(data['price']>=20000) & (data['price']<=25000)]
power = data_filterd.groupby('make').mean()['horsepower']
power = power.sort_values(ascending = False)
power

make
porsche    143.0
audi       140.0
bmw        121.0
volvo      118.0
Name: horsepower, dtype: float64

In [34]:
#list no of vehicles whose horse power greater than 200?
data[data['horsepower']>=200]['make'].count()

6

In [35]:
#list of make of vehicles whose horse power greater than 200?
data[data['horsepower']>=200]['make'].unique()

array(['jaguar', 'nissan', 'porsche'], dtype=object)

In [36]:
#which fuel system gives most mpg in city

data.groupby('fuel-type').mean()['city-mpg']

fuel-type
diesel    30.30000
gas       24.67027
Name: city-mpg, dtype: float64

In [37]:
#which make has highest  avg horsepower to cub weight ratio
data['hp_cw_ratio'] = data['horsepower'] / data['curb-weight']

data.groupby('make').mean()['hp_cw_ratio'].sort_values(ascending=False).head(5)

make
porsche        0.072237
mercury        0.060137
jaguar         0.050967
alfa-romero    0.047226
bmw            0.046810
Name: hp_cw_ratio, dtype: float64

In [38]:
#different types drive wheels with impact price

data.groupby('drive-wheels').mean()['price'].sort_values(ascending = False)

drive-wheels
rwd    19757.613333
4wd    10241.000000
fwd     9244.779661
Name: price, dtype: float64

In [39]:
#which are the engine types in a particular engine location
print(data.groupby('engine-location')['engine-type'].nunique())

engine-location
front    7
rear     1
Name: engine-type, dtype: int64

In [40]:
print(data.groupby('engine-location')['engine-type'].unique())

engine-location
front    [dohc, ohcv, ohc, l, rotor, dohcv, ohcf]
rear                                       [ohcf]
Name: engine-type, dtype: object

In [41]:
data.groupby(['engine-location','engine-type']).count()['make']

engine-location  engine-type
front            dohc            12
                 dohcv            1
                 l               12
                 ohc            148
                 ohcf            12
                 ohcv            13
                 rotor            4
rear             ohcf             3
Name: make, dtype: int64

In [42]:
data.groupby(['make','body-style']).count()['symboling']

make           body-style
alfa-romero    convertible     2
               hatchback       1
audi           hatchback       1
               sedan           5
               wagon           1
bmw            sedan           8
chevrolet      hatchback       2
               sedan           1
dodge          hatchback       5
               sedan           3
               wagon           1
honda          hatchback       7
               sedan           5
               wagon           1
isuzu          hatchback       1
               sedan           3
jaguar         sedan           3
mazda          hatchback      10
               sedan           7
mercedes-benz  convertible     1
               hardtop         2
               sedan           4
               wagon           1
mercury        hatchback       1
mitsubishi     hatchback       9
               sedan           4
nissan         hardtop         1
               hatchback       5
               sedan           9
               wagon           3
peugot         sedan           7
               wagon           4
plymouth       hatchback       4
               sedan           2
               wagon           1
porsche        convertible     1
               hardtop         2
               hatchback       2
renault        hatchback       1
               wagon           1
saab           hatchback       3
               sedan           3
subaru         hatchback       3
               sedan           5
               wagon           4
toyota         convertible     1
               hardtop         3
               hatchback      14
               sedan          10
               wagon           4
volkswagen     convertible     1
               hatchback       1
               sedan           9
               wagon           1
volvo          sedan           8
               wagon           3
Name: symboling, dtype: int64

In [43]:
data.groupby(['body-style','make']).count()['symboling']

body-style   make
convertible  alfa-romero       2
             mercedes-benz     1
             porsche           1
             toyota            1
             volkswagen        1
hardtop      mercedes-benz     2
             nissan            1
             porsche           2
             toyota            3
hatchback    alfa-romero       1
             audi              1
             chevrolet         2
             dodge             5
             honda             7
             isuzu             1
             mazda            10
             mercury           1
             mitsubishi        9
             nissan            5
             plymouth          4
             porsche           2
             renault           1
             saab              3
             subaru            3
             toyota           14
             volkswagen        1
sedan        audi              5
             bmw               8
             chevrolet         1
             dodge             3
             honda             5
             isuzu             3
             jaguar            3
             mazda             7
             mercedes-benz     4
             mitsubishi        4
             nissan            9
             peugot            7
             plymouth          2
             saab              3
             subaru            5
             toyota           10
             volkswagen        9
             volvo             8
wagon        audi              1
             dodge             1
             honda             1
             mercedes-benz     1
             nissan            3
             peugot            4
             plymouth          1
             renault           1
             subaru            4
             toyota            4
             volkswagen        1
             volvo             3
Name: symboling, dtype: int64

In [44]:
### END