### 2020  September 22

## Comments

Many of the examples in this notebook include comments. Comments in Python start with the hash character, `#`, and extend to the end of the physical line. A comment may appear at the start of a line or following whitespace or code, but not within a string literal. A hash character within a string literal is just a hash character. Since comments are to clarify code and are not interpreted by Python, they may be omitted when typing in examples.

Some examples:

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print(text)

# This is not a comment because it's inside quotes.

## Explore basic data types

Let's try some simple Python commands to explore numbers, strings, and lists.

### Numbers

The Python interpreter can act as a simple calculator: type an expression at it outputs the value.

Expression syntax is straightforward: the operators `+`, `-`, `*` and `/` work just like in most other programming languages (such as Pascal or C); parentheses (`()`) can be used for grouping and order or precedence. For example:

In [2]:
2 + 2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # Division always returns a floating point number.

1.6

In [6]:
10/2

5.0

In [7]:
#Variable assignement

a = 10
b = 20
pi = 22/7

In [8]:
pi

3.142857142857143

In [9]:
#check the datatype of variables
type(a)

int

In [10]:
type(b)

int

In [11]:
type(pi)

float

The integer numbers (e.g. `2`, `4`, `20`) have type [`int`](https://docs.python.org/3.5/library/functions.html#int), the ones with a fractional part (e.g. `5.0`, `1.6`) have type [`float`](https://docs.python.org/3.5/library/functions.html#float). We'll see more about numeric types later in the tutorial.

Division (`/`) always returns a float. To do [floor division](https://docs.python.org/3.5/glossary.html#term-floor-division) and get an integer result (discarding any fractional result) you can use the `//` operator; to calculate the remainder you can use `%`:

In [12]:
x = 17
y = 3

In [13]:
x / y  # Classic division returns a float.

5.666666666666667

In [14]:
x // y  # Floor division discards the fractional part.

5

In [15]:
x % y  # The % operator returns the remainder of the division.

2

In [16]:
5 * 3 + 2  # result * divisor + remainder

17

Use the `**` operator to calculate powers:

In [17]:
5 ** 2  # 5 squared

25

In [18]:
-5 * -5

25

In [19]:
(-5) ** 2

25

In [20]:
5 ** 3  # cube of 5

125

In [21]:
2 ** 7  # 2 to the power of 7

128

`**` has higher precedence than `-`; if you want a negative base, use parentheses:

In [22]:
-3**2  # Same as -(3**2)

-9

In [23]:
(-3)**2

9

The equal sign (`=`) assigns a value to a variable:

In [24]:
width = 20
height = 5 * 90
area = width * height
area

9000

In [25]:
height = 1.8
weight = 75

#can you calculate the Body Mass Index?

# BMI = Weight/(Height)^2 = 23.14

bmi = weight / (height**2)
print(bmi)

23.148148148148145

In [26]:
weight / (height**2)

23.148148148148145

If a variable is not "defined" (assigned a value), using it produces an error:

In [27]:
print(n)  # Try to access an undefined variable.

NameError: name 'n' is not defined

Python provides full support for floating point numbers; operators with mixed type operands convert the integer operand to floating point:

In [28]:
4 * 3.75

15.0

In [29]:
5.5 + 4.5

10.0

In [30]:
10.0 + 10

20.0

In [31]:
7.0 / 2

3.5

In interactive mode and in Jupyter notebooks, the last printed expression is assigned to the variable `_`. This means that when you're using Python as a desk calculator, its somewhat easier to continue calculations. For example:

In [32]:
weight = 75
height = 1.8
weight/(height ** 2)

23.148148148148145

In [33]:
print(_)

23.148148148148145

In [34]:
round(bmi,2) #round function rounds the floating point

23.15

In [35]:
_ = 15

In [36]:
10 + 20

30

In [37]:
print(_)

15

In [38]:
a = 15
a = 10 + 20

In [39]:
print(a)

30

In [40]:
#v^2 - u^2 + 2*a*S
# u = 10 m/s
# S = 500m
# a = 9.8m/s^2

#can you calculate the final velocity?
import math  #math package is imported

u = 10
a = 9.8
s = 500

#method 1
v_sqaure = (u ** 2) + (2 * a * s)
final_velocity = math.sqrt(v_sqaure)
print(round(final_velocity,4))

#method 2
final_velocity = (v_sqaure) ** 0.5
print(round(final_velocity,4))

99.4987
99.4987

In [41]:
#calculate the Range of a projectie

# R = (u^2 * sin(2*theta))/g

#An object is launched at a velocity of 20 m/s in a direction making an angle of 25Â° upward with the horizontal.

u = 20 #20m/s
theta = 25 #25 degree
g = 9.8 #9.8m/s^2
pi = 22/7

radian_coverter = pi/180

theta_rad = theta * radian_coverter  #math.sin() accept theta in radian, so we need to convert the value from degree to radian

print("theata in radian:",theta_rad)

R = ((u ** 2) * (math.sin(2 * theta_rad )))/ g

print("Range = ", round(R,4),"m")

theata in radian: 0.4365079365079365
Range =  31.2763 m

Treat the `_` variable as read-only. Don't explicitly assign a value to it--doing so creates an independent local variable with the same name, thereby masking the built-in variable with its magic behavior.

In addition to `int` and `float`, Python supports other types of numbers, such as [`Decimal`](https://docs.python.org/3.5/library/decimal.html#decimal.Decimal) and [`Fraction`](https://docs.python.org/3.5/library/fractions.html#fractions.Fraction). Python also has built-in support for [complex numbers](https://docs.python.org/3.5/library/stdtypes.html#typesnumeric), and uses the `j` or `J` suffix to indicate the imaginary part (e.g. `3+5j`).

### 2020  September 23

### Strings

Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. Use `\` to escape quotes, that is, to use a quote within the string itself:

In [42]:
eggs = 'spam eggs'  # Single quotes.
eggs

'spam eggs'

In [43]:
type(eggs) #type of eggs is str(string)

str

In [44]:
eggs_double = "spam eggs"  # Single quotes.
eggs_double

'spam eggs'

In [45]:
'doesn\'t'  # Use \' to escape the single quote...

"doesn't"

In [46]:
"doesn't"  # ...or use double quotes instead.

"doesn't"

In [47]:
'"Yes," he said.'

'"Yes," he said.'

In [48]:
"\"Yes,\" he said."

'"Yes," he said.'

In [49]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [50]:
s = 'First line.\nSecond line.'  # \n means newline.
s  # Without print(), \n is included in the output.

'First line.\nSecond line.'

In [51]:
print(s)

First line.
Second line.

In [52]:
s = "first word. \t second word"
s

'first word. \t second word'

In [53]:
print(s)

first word. 	 second word

In [54]:
star_str = "*\t*\t*\n*\t*\n*"
print(star_str)

*	*	*
*	*
*

In [55]:
star_str = "*\t\t*\t\t*\n\n\t*\t\t*\n\n\t\t*"
print(star_str)

*		*		*

	*		*

		*

If you don't want escaped characters (prefaced by `\`) to be interpreted as special characters, use *raw strings* by adding an `r` before the first quote:

In [56]:
my_path = 'C:\JulyBatch\new'  # Here \n means newline!

In [57]:
print(my_path)

C:\JulyBatch
ew

In [58]:
my_new_path = r'C:\JulyBatch\new'  # Note the r before the quote.

In [59]:
print(my_new_path)

C:\JulyBatch\new

String literals can span multiple lines and are delineated by triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it's possible to prevent this by adding a `\` at the end of the line. For example, without a `\`, the following example includes an extra line at the beginning of the output:

In [60]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [61]:
print(""" this is a mullti line comment.
Here we are practising the basics of string.
""")

 this is a mullti line comment.
Here we are practising the basics of string.

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal which appears as the output of a code cell:

In [62]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

"\nEverything between the first three quotes, including new lines,\nis part of the multi-line comment. Technically, the Python interpreter\nsimply sees the comment as a string, and because it's not otherwise\nused in code, the string is ignored. Convenient, eh?\n"

Strings can be *concatenated* (glued together) with the `+` operator, and repeated with `*`:

In [63]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [64]:
wish = "Hello"+"Good"+"Morning"
wish

'HelloGoodMorning'

In [65]:
funnywish = "Hello"*10 + "Good"+"Morning"+20*"!"+"bye"+"X"
funnywish

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloGoodMorning!!!!!!!!!!!!!!!!!!!!byeX'

Two or more *string literals* (that is, the values enclosed in quotes) placed next to each other are automatically concatenated:

In [66]:
'Py''thon'  #this is a notebook feature. we are not going to use this in programs

'Python'

Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [67]:
prefix = 'Py'
prefix+'thon'  # Can't concatenate a variable and a string literal.

'Python'

The following cell likewise produces an error:

In [68]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-68-f4764cbe42a8>, line 1)

In [69]:
prefix = 'Py'
prefix + 'thon'

'Python'

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [70]:
word = 'Python'
print(word[0])  # Character in position 0.

P

In [71]:
print(word[5])  # Character in position 5.

n

In [72]:
funnywish

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloGoodMorning!!!!!!!!!!!!!!!!!!!!byeX'

In [73]:
print(funnywish[0])
print(funnywish[1])
print(funnywish[2])
print(funnywish[3])
print(funnywish[4])
print("\n")
print(funnywish[-1])
print(funnywish[-2])
print(funnywish[-3])
print(funnywish[-4])

H
e
l
l
o


X
e
y
b

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slide, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [74]:
print(funnywish[0:5])  # Characters from position 0 (included) to 5 (excluded).

Hello

In [75]:
print(funnywish[-4:-1]) #slicing using negative indices

bye

In [76]:
print(funnywish[11:16])  # Characters from position 11 (included) to 16 (excluded).

elloH

If you omit either position, the default start position is 0 and the default end is the length of the string:

In [77]:
print(funnywish[:15])   # Character from the beginning to position 15 (excluded).

HelloHelloHello

In [78]:
print(funnywish[0:15])   # Character from the beginning to position 15 (excluded).

HelloHelloHello

In [79]:
print(funnywish[-4:])  # Characters from position 4 (included) to the end.

byeX

In [80]:
print(funnywish[5:])

HelloHelloHelloHelloHelloHelloHelloHelloHelloGoodMorning!!!!!!!!!!!!!!!!!!!!byeX

This characteristic means that `s[:i] + s[i:]` is always equal to `s`:

In [81]:
word = 'Python'

In [82]:
word[:2]

'Py'

In [83]:
word[2:]

'thon'

In [84]:
word[:2]+word[2:]

'Python'

In [85]:
word[2:] + word[:2]

'thonPy'

In [86]:
word[:2]*2 +word[2:]

'PyPython'

In [87]:
word[:2]+word[:2]+word[2:]

'PyPython'

In [88]:
#len function for obtaining the length of string

print("length of word:",len(word))

print("length of funnywish:",len(funnywish))

length of word: 6
length of funnywish: 85

In [89]:
funnywish[90]  # The funnywish only has 85 characters.

IndexError: string index out of range

In [90]:
#printing last character
funnywish[84]

'X'

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [91]:
print(funnywish[81:])

byeX

In [92]:
print(funnywish[81:100])

byeX

In [93]:
#create a wish with 10 hello, 15hi , 10 hello, 5 good morning,20 !,10 X

#1.print last 10Xs
#2 print(100th charter)
#3 print (all good morning)
#4 combine all hellos together in the begining - 20hello,15hi,5 good morning, 20!,10X


funnywish_new = "hello"*10 + "hi"*15 + "hello"*10 + "goooooodmorning"*5 + "!"*20 + "X"*10
print(funnywish_new)

hellohellohellohellohellohellohellohellohellohellohihihihihihihihihihihihihihihihellohellohellohellohellohellohellohellohellohellogoooooodmorninggoooooodmorninggoooooodmorninggoooooodmorninggoooooodmorning!!!!!!!!!!!!!!!!!!!!XXXXXXXXXX

In [94]:
len(funnywish_new)

235

In [95]:
#1.print last 10Xs

funnywish_new[-10:]

'XXXXXXXXXX'

In [96]:
#2 print(100th charter)

funnywish_new[99]

'o'

In [97]:
#3 print (all good morning)

funnywish_new[130:205]

'goooooodmorninggoooooodmorninggoooooodmorninggoooooodmorninggoooooodmorning'

In [98]:
#4 combine all hellos together in the begining - 20hello,15hi,5 good morning, 20!,10X

funnywish_new[0:50]+funnywish_new[80:130]+funnywish_new[50:80]+funnywish_new[130:]

'hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohihihihihihihihihihihihihihihigoooooodmorninggoooooodmorninggoooooodmorninggoooooodmorninggoooooodmorning!!!!!!!!!!!!!!!!!!!!XXXXXXXXXX'

##### Python strings are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), which means they cannot be changed. Therefore, assigning a value to an indexed position in a string results in an error:

In [99]:
print(word)

Python

In [100]:
word[0]

'P'

In [101]:
word[0] = 'C' #'str' object does not support item assignment since string is immutable

TypeError: 'str' object does not support item assignment

The following cell also produces an error:

In [102]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

A slice it itself a value that you can concatenate with other values using `+`:

In [103]:
'C'+word[1:]

'Cython'

In [104]:
word[:2] + 'Py'

'PyPy'

A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [105]:
word[:2] = 'Py'    # Slice is not a literal; produces an error

TypeError: 'str' object does not support item assignment

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [106]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

### Data Structures 

There are quite a few data structures available. The builtins data structures are: lists, tuples, dictionaries, strings, sets and frozensets.

#### Lists, strings and tuples are ordered sequences of objects. 
#### Unlike strings that contain only characters, list and tuples can contain any type of objects.(hetrongenious)
#### Lists and tuples are like arrays. Tuples like strings are immutables. 
#### Lists are mutables so they can be extended or reduced at will. Sets are mutable unordered sequence of unique elements whereas frozensets are immutable sets.

## Lists

Python knows a number of _compound_ data types, which are used to group together other values. The most versatile is the [*list*](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a sequence of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [121]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [122]:
len(squares)

5

In [123]:
emp_list = list()
emp_list = []
len(emp_list)

0

Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [124]:
squares[0]  # Indexing returns the item.

1

In [125]:
squares[-1]

25

In [126]:
squares[-3:]  # Slicing returns a new list.

[9, 16, 25]

In [127]:
squares[:]

[1, 4, 9, 16, 25]

In [129]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [130]:
squares

[1, 4, 9, 16, 25]

In [151]:
py_text = "Python"
py_text[0] = 'C'

TypeError: 'str' object does not support item assignment

Unlike strings, which are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), lists are a [mutable](https://docs.python.org/3.5/glossary.html#term-mutable) type, which means you can change any value in the list:

In [144]:
cubes = [1, 8, 27, 65, 124]  # Something's wrong here ...
cubes

[1, 8, 27, 65, 124]

In [145]:
cubes[3] = 64  # Replace the wrong value.
cubes

[1, 8, 27, 64, 124]

In [148]:
cubes[3:5] = [64,125] 
#this is same as 
# cubes[3] = 64
# cubes[4] = 125

In [152]:
cubes

[1, 8, 27, 64, 125]

In [153]:
#Append function is used to add new element to the end of the exisiting list

cubes.append(6*6*6)  # Add the cube of 6 ...
cubes.append(7 ** 3)  # and the cube of 7.
cubes

[1, 8, 27, 64, 125, 216, 343]

In [154]:
len(cubes)

7

In [155]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [156]:
# Replace some values.
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [157]:
len(letters)

7

In [158]:
# Now remove them.
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [159]:
len(letters)

4

In [160]:
# Clear the list by replacing all the elements with an empty list.
letters[:] = []
letters

[]

In [166]:
letters = ['a', 'b','e','f']
letters[1:2] = ['b','c','d']
letters

['a', 'b', 'c', 'd', 'e', 'f']

In [164]:
letters.append(['g','h'])

In [168]:
het_list =[1,2,3,4,'a','b','c','d'] #list are hetrogenious
het_list

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [169]:
#You can nest lists, which means to create lists that contain other lists. For example:

a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [174]:
type(x)

list

In [170]:
len(x)

2

In [173]:
type(x[0])

list

In [172]:
len(x[0])

3

In [175]:
x[0][1]

'b'

##### other operations and functions on list

In [254]:
letters = ['a','b','c','d','e','f','e']

In [255]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'e']

In [276]:
?letters.pop

In [256]:
#get index of values
letters.index('c')

2

In [257]:
letters.index('e') #if there are multiple entries, the first index will be returned.

4

In [258]:
letters.remove('e') #if there are multiple entries, the first entry will be removed.
letters

['a', 'b', 'c', 'd', 'f', 'e']

In [259]:
letters.remove('Z')

ValueError: list.remove(x): x not in list

In [260]:
letters.insert(0,'X')
letters

['X', 'a', 'b', 'c', 'd', 'f', 'e']

In [261]:
letters.insert(1,'Y') #to add a new entry insert function is used with the index value.
letters

['X', 'Y', 'a', 'b', 'c', 'd', 'f', 'e']

In [262]:
#Stack operation
letters.pop() #last in first out operation - lawst element will be picked and removed from the list

'e'

In [263]:
letters

['X', 'Y', 'a', 'b', 'c', 'd', 'f']

In [264]:
#sorting a list

numlist = [1,2,3,4,6,5,8,3,2,4,0,10]
numlist.sort()  #asending sort
numlist

[0, 1, 2, 2, 3, 3, 4, 4, 5, 6, 8, 10]

In [265]:
#descending sort
numlist.sort(reverse = True) #reverse is the parameter to the sort function with default value False
numlist

[10, 8, 6, 5, 4, 4, 3, 3, 2, 2, 1, 0]

In [266]:
namelist = ['albin','alwin','chinnu','saran']
namelist.sort(reverse=True)
namelist

['saran', 'chinnu', 'alwin', 'albin']

In [267]:
let_num_list = ['a','b','c','d',3,4,2,1]  #sorting is not possible with list consist of string and numericals
let_num_list.sort()
let_num_list

TypeError: '<' not supported between instances of 'int' and 'str'

In [268]:
float_num_list = [6.5,7.5,3.2,5.8,3,4,2,1]
float_num_list.sort()
float_num_list

[1, 2, 3, 3.2, 4, 5.8, 6.5, 7.5]

In [269]:
#to reverse a list
rev_list = ['r','e','v','e','r','s','e']
rev_list.reverse()
rev_list

['e', 's', 'r', 'e', 'v', 'e', 'r']

In [270]:
#to get a copy of list
rev_list_copy = rev_list.copy()

In [271]:
rev_list_copy == rev_list

True