### 2020 September 28

#### Concatenate Lists

In [96]:
my_list_one = [1]

In [97]:
my_list_two = [2]

In [98]:
my_list = my_list_one + my_list_two

In [99]:
my_list

[1, 2]

In [100]:
my_list += [3, 4]   # equivalent to my_list = my_list + [3, 4] 
my_list

[1, 2, 3, 4]

In [101]:
x = 10
x = x+5
x

15

In [102]:
x = 10
x += 5 # x = x+10
x

15

In [103]:
x = 10
x -= 5  #x = x-5
x

5

In [104]:
x = 10
x *= 5 # x = x*5
x

50

In [105]:
x = 10
x /= 5
x

2.0

### List Comprehension

In [108]:
for i in range(1,10): #[1,2,3,4]
    print(i)

1
2
3
4
5
6
7
8
9

In [113]:
squares = []
for i in range(1,10): #[1,2,3,4,5,6,7,8,9]
    if(i%2==0):
        squares.append(i ** 2)

In [114]:
squares

[4, 16, 36, 64]

In [115]:
squares = [i**2 for i in range(1,10) if i%2==0]  #list comprehension
squares

[4, 16, 36, 64]

In [116]:
#create a list of numbers between including 0-100 which are divisible by 5
five_list = []
for i in range(1,101):
    if(i%5==0):
        five_list.append(i)
five_list

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [119]:
five_n = [i for i in range(1,101) if(i%5==0)]
five_n

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### Filtering List

In [122]:
li = [1, 2 ,3, 4, 5, 6,7,8]
[i for i in li if i%2 ==0]

[2, 4, 6, 8]

In [127]:
#calculate the squares of odd numbers from five_n
[ i**2 for i in five_n if i%2 != 0 ]

[25, 225, 625, 1225, 2025, 3025, 4225, 5625, 7225, 9025]

### Tuple

In Python, tuples are part of the standard language. This is a data structure very similar to the list data structure. The main difference being that tuple manipulation are faster than list because  
##### Tuples are immutable.

In [128]:
t = (1, 2, 3) #tuples created using ()
t

(1, 2, 3)

In [132]:
t = 1, 2 #we can even create tuple without (), not prefered.
type(t)

tuple

In [133]:
singleton = (1, ) #single element tuple
type(singleton)

tuple

#### always use () to create a tuple - best practise

In [135]:
singleton = 1,
type(singleton)

tuple

In [136]:
(1,) * 5

(1, 1, 1, 1, 1)

In [137]:
t = (1,2,3,4,1)

In [140]:
t.count(1) #count, to count the number of occurence of a value

2

In [144]:
t.index(4) #index will return the first index

3

So, Tuples are useful because there are

faster than lists


protect the data, which is immutable

In [145]:
t

(1, 2, 3, 4, 1)

In [147]:
t[0] = 100 #assignment is not possible since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [149]:
#t[0] #tuples are indexed

1

In [150]:
#Tuples used for swapping

x = 10
y = 20

temp = x
x = y
y = temp
print(x,y)

20 10

In [152]:
x=10
y=20
(x,y) = (y,x)

print(x,y)

20 10

In [154]:
len(t)

5

In [155]:
t[0] #indexing is possible

1

In [156]:
t[0:2] #slicing is also possible

(1, 2)

In [157]:
t_copy = t

In [159]:
t = (1, 2, 3)
max(t)

3

In [160]:
min(t)

1

In [165]:
len(t)

3

In [168]:
t.append(10) #since tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [173]:
(pi,sin90,g) = (3.14,1,9.8)

9.8

### Dict - Dictionary

A dictionary is a sequence of items. Each item is a pair made of a key and a value. Dictionaries are not sorted. You can access to the list of keys or values independently.

In [190]:
d = { 'name':'christy','age':26,'place':'cochin'} #dict is created using {}

In [191]:
d.keys() #to get the keys

dict_keys(['name', 'age', 'place'])

In [192]:
d.values() #to get the values

dict_values(['christy', 26, 'cochin'])

In [193]:
d['name']  #indexing is possible, key is used for indexing

'christy'

dictionary have no concept of order among elements

In [194]:
d[0]

KeyError: 0

In addition to keys and values methods, there is also the items method that returns a list of items of the form (key, value).

In [195]:
d.items()

dict_items([('name', 'christy'), ('age', 26), ('place', 'cochin')])

In [196]:
d.get('age')  #get function is used to get the value corresponds to a key

26

In [198]:
d.get('gender')

In [201]:
d.pop('age') #you do not choose which one because a dictionary is not sorted

26

In [202]:
d

{'name': 'christy', 'place': 'cochin'}

In [203]:
d1 = {'name':'christy','age':26,'place':'cochin'}

In [204]:
d1

{'name': 'christy', 'age': 26, 'place': 'cochin'}

In [205]:
d2 = d1.copy()

In [206]:
d2

{'name': 'christy', 'age': 26, 'place': 'cochin'}

In [207]:
d2.clear() #to delete all the data from dict

In [208]:
d2

{}

In [52]:
d3 = {'a':1, 'b':2, 'c':3}

In [209]:
d3.update({'d':4}) #update function used to both add a new key value pair or to update the value of exisiting key

In [210]:
d1

{'name': 'christy', 'age': 26, 'place': 'cochin'}

In [212]:
d1.update({'age':27})
d1

{'name': 'christy', 'age': 27, 'place': 'cochin'}

In [213]:
d1['age'] = 26
d1

{'name': 'christy', 'age': 26, 'place': 'cochin'}

In [214]:
d1.update({'gender':'male'})
d1

{'name': 'christy', 'age': 26, 'place': 'cochin', 'gender': 'male'}

In [216]:
d1['exp'] = 5
d1

{'name': 'christy', 'age': 26, 'place': 'cochin', 'gender': 'male', 'exp': 5}

### Sets

Sets are constructed from a sequence (or some other iterable object). Since sets cannot have duplicated, there are usually used to build sequence of unique items (e.g., set of identifiers).

In [222]:
a = {1,2,3,4,5}
b = {3,4,5,6,6}

In [223]:
a

{1, 2, 3, 4, 5}

In [225]:
b #set will not accept any duplicate values.

{3, 4, 5, 6}

In [226]:
a | b #Union - combine both the sets

{1, 2, 3, 4, 5, 6}

In [229]:
c = a | b
c

{1, 2, 3, 4, 5, 6}

In [227]:
a & b # Intersection - identify the common elements

{3, 4, 5}

In [230]:
a < c # Subset

True

In [231]:
c < a # Subset

False

In [233]:
c > a  #Superset

True

In [234]:
a - b # Difference

{1, 2}

In [235]:
b - a # Difference

{6}

In [236]:
b

{3, 4, 5, 6}

In [238]:
b[0] #set has no order

TypeError: 'set' object is not subscriptable

Sets has no order

In [252]:
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])
c = a.intersection(b)
c

{3, 4}

In [253]:
c = a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [254]:
c.issubset(a)

False

In [255]:
c.issuperset(a)

True

In [256]:
a.difference(b)

{1, 2}

In [257]:
b = a.copy()

In [258]:
a.add(5)

In [259]:
a

{1, 2, 3, 4, 5}

In [260]:
a.add(5) #add function is used to add a new value to the set

In [261]:
a

{1, 2, 3, 4, 5}

In [262]:
len(a)

5

In [263]:
a.add(5)
len(a)

5

In [264]:
a[0] #no indexing and slicing

TypeError: 'set' object is not subscriptable

In [265]:
#END