Object-oriented programming is a programming paradigm that provides a means of structuring programs so that properties and behaviors are bundled into individual objects.

For instance, an object could represent a person with properties like a name, age, and address and behaviors such as walking, talking, breathing, and running. Or it could represent an email with properties like a recipient list, subject, and body and behaviors like adding attachments and sending.

Classes are used to create user-defined data structures. Classes define functions called methods, which identify the behaviors and actions that an object created from the class can perform with its data.

For example, let’s say you want to track employees in an organization. You need to store some basic information about each employee, such as their name, age, position, and the year they started working

In [1]:
kirk = ["James Kirk", 34, "Captain", 2002]
spock = ["Spock", 35, "Science Officer", 2005]
mccoy = ["Leonard McCoy", 35,"Chief Medical Officer", 2008]

In [2]:
kirk[0]

'James Kirk'

In [3]:
class Person:
    pass

In [4]:
class Employee: #creating a class named Employee
    def __init__(self, name_ip, age_ip,position_ip,yoj_ip): #A constructor is a function that initializes an object 
        self.name = name_ip
        self.age = age_ip
        self.position = position_ip
        self.yoj = yoj_ip

In [5]:
E1 = Employee("Hari",35,"Captain",2010)

In [6]:
type(E1)  #E1 is an object of class Employee

__main__.Employee

In [7]:
E1.name = "Sunny" #explicit

In [8]:
E1.age

35

In [9]:
E1.position

'Captain'

In [10]:
E1.yoj = 2015

In [11]:
E1.yoj

2015

In [12]:
E2 = Employee("Arun",30,"Captain",2017)

In [13]:
E3 = Employee("Arun",30,"Captain",2017)

In [14]:
E3.age == E2.age

True

In [15]:
E2 == E3

False

In [16]:
E2.name == E3.name

True

In [17]:
E2.age == E3.age

True

In [18]:
E2.position == E3.position

True

In [19]:
E2.yoj == E3.yoj

True

Attributes created in .__init__() are called instance attributes. An instance attribute’s value is specific to a particular instance of the class. All Person objects have a name,an age,a postition and a yoj, but the values for the attributes will vary depending on the Person instance.

On the other hand, class attributes are attributes that have the same value for all class instances. You can define a class attribute by assigning a value to a variable name outside of .__init__().

For example, the following Person class has a class attribute called company with the value "Maersk":

In [20]:
class Employee:
    # Class attribute
    company_name = "Luminar" #common attribute
    def __init__(self, name, age,position,yoj):
        self.name = name
        self.age = age
        self.position = position
        self.yoj = yoj

Creating a new object from a class is called instantiating an object. You can instantiate a new Dog object by typing the name of the class, followed by opening and closing parentheses:

In [21]:
E4 = Employee("Christy",26,"Developer",2019)

In [22]:
E4.name

'Christy'

In [23]:
E4.age

26

In [24]:
E4.position

'Developer'

In [25]:
E4.yoj

2019

In [26]:
E4.company_name

'Luminar'

In [27]:
E4.company_name = 'XYZ'

In [28]:
E4.company_name

'XYZ'

In [29]:
E5 = Employee("Akshay",25, "Senior Developer", 2020)

In [30]:
E5.company_name

'Luminar'

In [31]:
E6 = Employee("Akshay",25, "Senior Developer", 2020)

In [32]:
E6.company_name

'Luminar'

In [33]:
E5 == E6

False

Even though E5 and E6 are both instances of the Employee class, they represent two distinct objects in memory.

Instance methods are functions that are defined inside a class and can only be called from an instance of that class. Just like .__init__(), an instance method’s first parameter is always self.

In [34]:
class Person:
    # Class attribute
    company_name = "Maersk"
    def __init__(self, name, age,position,yoj):
        self.name = name
        self.age = age
        self.position = position
        self.yoj = yoj
    # Instance method
    def description(self):
        return f"{self.name} is {self.age} years old"   

    # Another instance method
    def pos(self):
        return f"{self.name} works as {self.position}"

In [35]:
P1 = Person("Akshay",35, "Chief Medical Officer", 2008)

In [36]:
P1.description()

'Akshay is 35 years old'

In [37]:
P1.pos()

'Akshay works as Chief Medical Officer'

In [38]:
print(P1)

<__main__.Person object at 0x000001E3A9FF8148>

#### Create a  classcar  with attributes like name,brand,milege,colour,price
#### add methods to show the milege
#### add method to display the class of the car (premium,normal) {if price > 10L, premium, otherwise normal}

In [39]:
class Car():
    tyres = 4
    def __init__(self,name,brand,milege,color,price):
        self.name = name
        self.brand = brand
        self.milege = milege
        self.color = color
        self.price = price
    def show_milege(self):
        return f"{self.name} has {self.milege} kmpl milege"
    def show_segment(self):
        if(self.price>=1000000):
            seg = "premium"
        else:
            seg = "normal"
        return f"The segment of {self.name} : {seg}"
    def resale_value(self,age=5):
        r_value = self.price * (15-age) // 15
        return f"Resale value of {age} year old {self.name} is {r_value} Rupees."

In [40]:
Jazz = Car("Jazz","Honda",17,"Red",850000)
Polo = Car("Polo","Volkswagen",15,"Blue",800000)
Innova = Car("Innova","Toyota",10,"White",2800000)

In [41]:
Innova.price

2800000

In [42]:
Innova.brand

'Toyota'

In [43]:
Innova.show_milege()

'Innova has 10 kmpl milege'

In [44]:
Jazz.show_milege()

'Jazz has 17 kmpl milege'

In [45]:
Polo.show_milege()

'Polo has 15 kmpl milege'

In [46]:
Polo.show_segment()

'The segment of Polo : normal'

In [47]:
Jazz.show_segment()

'The segment of Jazz : normal'

In [48]:
Innova.show_segment()

'The segment of Innova : premium'

In [49]:
Innova.resale_value()

'Resale value of 5 year old Innova is 1866666 Rupees.'

In [50]:
Innova.resale_value(1)

'Resale value of 1 year old Innova is 2613333 Rupees.'

In [51]:
Jazz.resale_value(0.5)

'Resale value of 0.5 year old Jazz is 821666.0 Rupees.'

### Inherit From Other Classes in Python

Inheritance is the process by which one class takes on the attributes and methods of another. Newly formed classes are called child classes, and the classes that child classes are derived from are called parent classes.

In [52]:
class Contract(Person):
    contract = "Navy"

In [53]:
P4 = Contract('Christy',26,'Captain',2016)

In [54]:
P4.contract

'Navy'

In [55]:
P4.company_name

'Maersk'

In [56]:
P4.name

'Christy'

In [57]:
P4.age

26

In [58]:
P4.position

'Captain'

In [59]:
P4.yoj

2016

In [60]:
isinstance(P4, Contract)

True

In [61]:
isinstance(P4, Person)

True

In [62]:
isinstance(P1,Person)

True

In [63]:
isinstance(P1,Contract)

False

In [64]:
class Contract(Person):
    contract = "Navy"
    def working(self):
        return f"{self.name} is working for {self.contract} "

In [65]:
P4 = Contract('Christy',26,'Captain',2016)

In [66]:
P4.working()

'Christy is working for Navy '

In [67]:
P4.description()

'Christy is 26 years old'

In [68]:
P1.description()

'Akshay is 35 years old'

In [69]:
P1.working()  #working is  a method of child class Contract

AttributeError: 'Person' object has no attribute 'working'

### Encapsulation

Using OOP in Python, we can restrict access to methods and variables. This prevents data from direct modification which is called encapsulation. In Python, we denote private attributes using underscore as the prefix i.e single _ or double __.

In [82]:
class Computer:

    def __init__(self):
        self.__maxprice = 50000
        self.brand = "Dell"

    def sell(self):
        print(f"Selling Price: {self.__maxprice}")
    def show_brand(self):
        print(f"Selling Brand: {self.brand}")
    def show_segment(self):
        if(self.__maxprice>50000):
            return "Premuim Brand"
        else:
            return "Budgent Brand"

    def setMaxPrice(self, price=50000):
        self.__maxprice = price  #private attributes can be only updated using class methods

In [83]:
c = Computer()
c.sell()

Selling Price: 50000

In [84]:
c.show_brand()

Selling Brand: Dell

In [85]:
c.show_segment()

'Budgent Brand'

In [86]:
c.brand = "HP"

In [87]:
c.show_brand()

Selling Brand: HP

In [88]:
# change the price
c.__maxprice = 100000 #since maxprice is a private attribute it is impossible to update from out side of the class.

In [89]:
c.sell()

Selling Price: 50000

In [90]:
c.show_segment()

'Budgent Brand'

In [91]:
# using setter function
c.setMaxPrice(100000)

In [92]:
c.sell()

Selling Price: 100000

In [93]:
c.show_segment()

'Premuim Brand'

In [94]:
c.__maxprice = 50000

In [95]:
c.sell()

Selling Price: 100000

### Encapuslation - Practice

create a class student with attributes name, age, mark, and result

by defualt the result is Not Avaialble

if the mark scored is greater than 50 change the result into pass else change the result into fail

Create a function to update mark and result.

user should not be able to manupulate mark and result through improper way

create a function to check the result

In [96]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        self.__mark = 0
        self.__result = "NA"
    def show_results(self):
        return f"The result of  is : {self.__result}"
    def show_marks(self):
        return f"The mark is : {self.__mark}"
    def update_result(self,in_mark=0):
        self.__mark = in_mark
        if(self.__mark>=50):
            self.__result = "Pass"
        else:
            self.__result = "Fail"

In [97]:
S1 = Student("christy",25)

In [98]:
S1.show_results()

'The result is : NA'

In [99]:
S1.show_marks()

'The mark is : 0'

In [100]:
S1.update_result(60)

In [101]:
S1.show_results()

'The result is : Pass'

In [102]:
S1.show_marks()

'The mark is : 60'

In [103]:
S1.update_result(30)

In [104]:
S1.show_results()

'The result is : Fail'

In [105]:
S1.show_marks()

'The mark is : 30'

In [107]:
S1.name

'christy'

In [108]:
S1.age

25

In [109]:
S1.__mark

AttributeError: 'Student' object has no attribute '__mark'

In [110]:
S1.__result

AttributeError: 'Student' object has no attribute '__result'

In [113]:
S1.show_results()

'The result is : Fail'

### Polymorphism

Polymorphism is an ability (in OOP) to use a common interface for multiple forms (data types).

Suppose, we need to color a shape, there are multiple shape options (rectangle, square, circle). However we could use the same method to color any shape. This concept is called Polymorphism

In [114]:
class Parrot:

    def fly(self):
        print("Parrot can fly")
    
    def swim(self):
        print("Parrot can't swim")

class Penguin:

    def fly(self):
        print("Penguin can't fly")
    
    def swim(self):
        print("Penguin can swim")

# common interface
def flying_test(bird):  #flying_test function will accept an object as a parameter
    bird.fly()

In [115]:
#instantiate objects
blu = Parrot()
peggy = Penguin()

In [116]:
flying_test(blu)

Parrot can fly

In [117]:
flying_test(peggy)

Penguin can't fly

In [126]:
class Square():
    def area(self,x):
        area = x**2
        print(f"Area : {area}")
class Circle():
    def area(self,x):
        area = 3.14*x*x
        print( f"Area : {area}")
        
def calc_area(shape,val):
    shape.area(val)

In [127]:
S1 = Square()
C1 = Circle()

In [131]:
calc_area(S1,5)

Area : 25

In [132]:
calc_area(C1,5)

Area : 78.5

In [118]:
#END